body {
  background: linear-gradient(60deg, rgba(7, 7, 7, 0.562), rgba(28, 121, 82, 0.349), rgba(26, 27, 26, 0.568));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

nav.navbar,
nav.navbar-expand-lg {
  background: linear-gradient(60deg, rgba(7, 7, 7, 0.247), rgba(28, 121, 82, 0.349), rgba(26, 27, 26, 0.267));
  margin-top: -20px;
  border-radius: 15px;
  padding: 5px;
}
img.science-logo {
  width: 40px;
  border-radius: 50%;
  border: 1px solid rgba(185, 185, 185, 0.986);
  background-color: rgba(255, 255, 255, 0.801);
  padding: 5px;
}

.hidden {
  display: none;
}

.jumbotron {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0);
  padding-top: 100px;
  padding-bottom: 100px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.125); */
}

.content {
  padding: 100px 1rem;
}
