body {
  background: linear-gradient(45deg, rgba(248, 217, 42, 0.562), rgba(241, 46, 46, 0.575), rgba(53, 96, 238, 0.568));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.white-bg {
  background-color: rgba(255, 255, 255, 0.473);
  width: 80%;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  
}

.hidden {
  display: none;
}

.jumbotron {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0);
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.125); */
}

.content {
  padding: 2rem 1rem;
}
