body {
  background: linear-gradient(45deg, rgba(122, 255, 226, 0.562), rgba(103, 143, 253, 0.575), rgba(193, 106, 233, 0.568));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hidden {
  display: none;
}

.card-header {
  margin-bottom: 30px;
}

.jumbotron {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.432);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.content {
  background-color: rgba(240, 248, 255, 0.308);
}
